alert tcp any any -> any any (msg:"Nmap SYN Scan Detected"; flags:S; flow:stateless; threshold:type both, track by_src, count 10, seconds 10; sid:2101; rev:2; classtype:potential-portscan;)
alert tcp any any -> any any (msg:"Nmap NULL Scan Detected"; flags:0; flow:stateless; threshold:type both, track by_src, count 5, seconds 10; sid:2102; rev:2; classtype:potential-portscan;)
alert tcp any any -> any any (msg:"Nmap FIN Scan Detected"; flags:F; flow:stateless; threshold:type both, track by_src, count 5, seconds 10; sid:2103; rev:2; classtype:potential-portscan;)
alert tcp any any -> any any (msg:"Nmap Xmas Scan Detected"; flags:FPU; flow:stateless; threshold:type both, track by_src, count 5, seconds 10; sid:2104; rev:2; classtype:potential-portscan;)
alert tcp any any -> any any (msg:"Nmap TCP Connect Scan Detected"; flags:S,12; flow:to_server,established; threshold:type both, track by_src, count 10, seconds 10; sid:2105; rev:2; classtype:potential-portscan;)
alert tcp any any -> any any (msg:"Nmap ACK Scan Detected"; flags:A; flow:stateless; threshold:type both, track by_src, count 5, seconds 10; sid:1006; rev:2; classtype:potential-portscan;)
alert icmp any any -> any any (msg:"ICMP Flood Detected"; detection_filter:track by_src, count 20, seconds 5; sid:10003; rev:3; classtype:icmp-flood;)
alert tcp any any -> any 4444 (msg:"Possible Reverse Shell Connection Attempt"; flow:to_server; sid:1008; rev:2; classtype:reverse-shell-detected;)
alert http any any -> any any (msg:"Cross Site Scripting (XSS) Attempt"; pcre:"/<script[^>]*>.*?<\\/script>/is"; classtype:XXS-Attack; sid:1011; rev:2;)
alert http any any -> any any (msg:"DIRB Scan - DIRB User-Agent"; content:"dirb"; http_user_agent; nocase; classtype:attempted-WEBrecon; sid:1016; rev:1;)
alert http any any -> any any (msg:"SQL Injection Attempt Detected"; content:"'"; nocase; pcre:"/('(\s*or\s+1=1\s*--|\s*or\s+['\"]?\w+['\"]?\s*=\s*['\"]?\w+['\"]?\s*--?))/i"; classtype:httptest; sid:1012; rev:5;)
